[defaults]
inventory = inventory/hosts.yml
roles_path = /Users/djbclark/ops/stayturgid/ansible/roles
# Product collections are supplied by the sibling stayturgid checkout.
collections_path = /Users/djbclark/ops/stayturgid/.ansible/collections:/Users/djbclark/ops/stayturgid
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
