<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ site_agents_hibernate_label }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>{{ site_agents_hibernate_script }}</string>
    </array>
    <key>StartInterval</key>
    <integer>1800</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{ site_agents_hibernate_log }}</string>
    <key>StandardErrorPath</key>
    <string>{{ site_agents_hibernate_error_log }}</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HIBERNATE_DISK_THRESHOLD_GB</key>
        <string>{{ site_agents_hibernate_threshold_gb | string }}</string>
    </dict>
</dict>
</plist>
