<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ site_agents_system_state_label }}</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>{{ site_agents_system_state_script }}</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>12</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>{{ site_agents_system_state_log }}</string>
    <key>StandardErrorPath</key>
    <string>{{ site_agents_system_state_log }}</string>
</dict>
</plist>
