<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ litellm_label }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ litellm_bin }}</string>
        <string>--config</string>
        <string>{{ litellm_config_path }}</string>
        <string>--host</string>
        <string>{{ litellm_bind }}</string>
        <string>--port</string>
        <string>{{ litellm_port }}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProcessType</key>
    <string>Background</string>
    <key>Umask</key>
    <integer>63</integer>
    <key>StandardOutPath</key>
    <string>{{ litellm_logs_dir }}/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>{{ litellm_logs_dir }}/stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>{{ litellm_home }}</string>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:{{ litellm_home }}/.local/bin</string>
        <key>LITELLM_LOG</key>
        <string>INFO</string>
{% if litellm_openai_api_key | length > 0 %}
        <key>OPENAI_API_KEY</key>
        <string>{{ litellm_openai_api_key | e }}</string>
{% endif %}
{% if litellm_anthropic_api_key | length > 0 %}
        <key>ANTHROPIC_API_KEY</key>
        <string>{{ litellm_anthropic_api_key | e }}</string>
{% endif %}
    </dict>
</dict>
</plist>
