<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ litellm_xai_bridge_label }}</string>
    {#- Same filter/rotation as the proxy (see litellm.plist.j2), smaller cap. #}
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>"$0" "$1" --host 127.0.0.1 --port "$2" 2&gt;&amp;1 | /usr/bin/python3 "$3" --out "$4" --max-bytes "$5" --backups "$6"</string>
        <string>{{ litellm_xai_bridge_python }}</string>
        <string>{{ litellm_xai_bridge_script }}</string>
        <string>{{ litellm_xai_bridge_port }}</string>
        <string>{{ litellm_logpipe_script }}</string>
        <string>{{ litellm_logs_dir }}/xai-oauth-bridge.log</string>
        <string>{{ litellm_xai_bridge_log_max_bytes }}</string>
        <string>{{ litellm_xai_bridge_log_backups }}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProcessType</key>
    <string>Background</string>
    <key>Umask</key>
    <integer>63</integer>
    <key>StandardOutPath</key>
    <string>{{ litellm_logs_dir }}/xai-oauth-bridge.launchd.log</string>
    <key>StandardErrorPath</key>
    <string>{{ litellm_logs_dir }}/xai-oauth-bridge.launchd.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONUNBUFFERED</key>
        <string>1</string>
        <key>HOME</key>
        <string>{{ litellm_home }}</string>
        <key>PATH</key>
        <string>{{ litellm_service_path }}</string>
    </dict>
</dict>
</plist>
