<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ litellm_xai_bridge_label }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ litellm_xai_bridge_python }}</string>
        <string>{{ litellm_xai_bridge_script }}</string>
        <string>--host</string>
        <string>127.0.0.1</string>
        <string>--port</string>
        <string>{{ litellm_xai_bridge_port }}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProcessType</key>
    <string>Background</string>
    <key>Umask</key>
    <integer>63</integer>
    <key>StandardOutPath</key>
    <string>{{ litellm_logs_dir }}/xai-oauth-bridge.log</string>
    <key>StandardErrorPath</key>
    <string>{{ litellm_logs_dir }}/xai-oauth-bridge.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>{{ litellm_home }}</string>
        <key>PATH</key>
        <string>{{ litellm_service_path }}</string>
    </dict>
</dict>
</plist>
